body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
    min-height: 100vh;
    position: relative;
}

header {
    background-color: #333;
    color: #a9c0cf;
    text-align: center;
    padding: 20px;
    background-color: rgb(10, 17, 19);
}

nav {
    background-color: #555;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #444;
}

section {
    padding: 40px;
    background-color: beige;
}

#intro {
    background-color: #6d90a0;
}

#experience{
    background-color: #545963;
}
#cta {
    background-color: #849eb6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}
.image {
    max-width: 250px;
    height: 40%;
    margin-right: 20px; 
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
